@use '_variables' as *;

.chip,
.chip-list > li {
  border: 1px solid var(--border-color, $primary);
  border-radius: 9999px;
  text-align: center;
  white-space: pre;

  padding: 0.5rem 1.5rem;
  font-size: 1.25rem;
  letter-spacing: -0.05rem;
}

.chip--lg,
.chip-list--lg > li {
  padding: 1rem 2rem;
  font-size: 1.375rem;
  letter-spacing: -0.05rem;
  font-weight: 600;
}

.chip--sm,
.chip-list--sm > li {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  letter-spacing: 0;
}

.chip--xs,
.chip-list--xs > li {
  padding: 0.25rem 0.75rem;
  margin: 0 0.125rem;
  font-size: 0.875rem;
  letter-spacing: 0;
}

.chip-list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.chip--white-bg,
.chip-list > li.chip--white-bg {
  @include white-bg;
  border: none;
}

.chip--white,
.chip-list > li.chip--white {
  border: 1px solid $white;
  color: $white;
}

.logo--medium {
    display: block;
    width: 6rem;
    height: 6rem;
    background-image: url('../images/logo-medium.png');
    background-size: cover;
    border-radius: 1rem;
}

.icon--github {
  display: block;
  width: 2rem;
  height: 2rem;
  background: url('../images/logo-github.svg');
  background-size: cover;
  border-radius: 1rem;
}

.screen-wrapper {
  background-color: $black;

  &--desktop {
    width: 60%;
    padding: 1.125rem;
    border-radius: 1rem;

    img {
      border-radius: 0.5rem;
    }
  }

  &--mobile {
    width: 20%;
    padding: 0.75rem;
    border-radius: 1.25rem;

    img {
      border-radius: 1rem;
    }
  }
}

.btn {
  &__link::before {
    @include black-bg;
    content: '↗';
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
  }

  &__link--circle::before {
    border-radius: 9999px;
  }

  &__link--sm::before {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    border-radius: 0.875rem;
  }
}

.btn, .logo {
  transition: transform 0.2s ease-in-out;
  &:hover {
    transform: scale(1.125);
  }
}
